.navbar {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

body {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar li {
    display: inline-block;
    padding: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.banner {
    color: #BA23E8;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 50px;
    text-align: center;
    padding: 100px 0;
}

#activityImage {
  display: block;           /* makes it a block element */
  margin: 20px auto;        /* centers horizontally */
  max-width: 300px;         /* limit size */
}

#small-po {
    height: 100px;
    width: 300px;
    filter: drop-shadow(1px 1px 1px black);
}

.potato-section {
    padding: 20px 50px;
}

#popo {
    color: #BA23E8;
    font-size: 100px;
}

#poots ul {
    list-style-type: none;
}

.avatar {
    background-image: url('../images/potato.avif');
    background-size: cover;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.bold {
    font-weight: 900;
}

a.pink {
    color: #BA23E8;
}